img{
    width: 100%;
    height: auto;
}
.clearfix{
    content: " ";
    clear:both;
}

#header-logo{
    width: 120px;
    float: left;
}
.main-header{
    background-color: #000;
}
.header-navigation{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
    float: right;
}

.header-navigation li{
    display: inline;
    padding-left: 15px;
    font-size: 24px;
}

.header-navigation li a,
.header-navigation li a:visited{
    color: #fff;
}

.header-navigation li a:hover,
.header-navigation li a:focus,
.header-navigation li a:active{
    color: #d20000;
}

/* Hero Banner Section */

/* .hero-banner{
    background: url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
} */

.hero-banner{
    position: relative;
    /* background: linear-gradient(to top, #000, #d20000); */
}

.hero-banner h1{
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 99;
}

.hero-banner img{
    height: 600px;
    object-fit: cover;
    /* opacity: 0.5; */
}

.overlay{
    z-index: 90;
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top, #000, #d20000);
    opacity: 0.5;
}

/* Product Grid Section */
.product-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.product-item{
    border: 1px solid #000;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.product-flex{
    display: flex;
}

.footer-copyright{
    width: 100%;
    text-align: center;
    background: #333;
    color: #fff;
    font-size: 18px;
    padding: 15px 0 15px 0 !important;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-content{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 15px 30px 15px 30px !important;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    

}
.footer-content a{
    color: #fff;
    text-decoration: none;
}

.footer-content img#footer-logo{
    width: 120px;
    object-fit: contain;
}

.regular_price.has_sale_price{
    color: #d20000;
    text-decoration: line-through;
}